.creat__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}
@media (max-width: 900px) {
  .creat__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
  }

  .creat__discript {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .creat__discript,
  p {
    color: darkgray;
    text-align: center;
  }
}

.creat__discript {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
b {
  font-size: 48px;
  color: #000;
}
i,
p {
  color: darkgray;
}
.hero__btn {
  background: green;
  padding: 15px 15px;
  border-radius: 15px 0;
  border: none;
  width: 140px;
  color: aliceblue;
  -webkit-box-reflect: below 1px linear-gradient(red, #0005);
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4,
    0 0 100px #03e9f4;
}
